<h1>Our Students</h1>

<br>
<p> Add New Student </p>
<img src="plus.png" width="5%" alt="Add A Course">



<%= form_for Student.new do |f| %>
                
    <%= f.text_field :name, :required => true, :placeholder => 'Student Name' %>
    <%= f.text_area :image, :cols => "50", :rows => "1" ,  :required => true, :placeholder => 'Choose an Image URL' %>
    <%= f.text_field :age, :required => true, :placeholder => 'Student Age' %>
    <%= f.text_field :education, :required => true, :placeholder => 'Education' %>
    <%= f.text_field :email, :required => true, :placeholder => 'Student Email'%>
    <%= f.text_area :hobbies, :cols => "30", :rows => "3" , :required => true, :placeholder => 'Student Hobbies'%>
    <%= f.button :submit%>
  <% end %>
  
   








<div class="card-group">
      <div class="card-columns">
         
      <div class="card-block">
          <% $students.each do |student| %>
            <div class="card">
           <strong class="card-text"><%= student.name %>
            <br>
           <img src="<%= student.image %>" width="100%" alt="student Image">
            <br>
            <h3 class="card-text"> Age: <%= student.age %>
            <br>
            <h3 class="card-text"> Highest Completed Education : <%= student.education %>
            <br>
            <h3 class="card-text">Student email: <%= student.email %></h3>
           
            <h3 class="card-text">My hobbies : <%= student.hobbies %></h3>
            </strong>
            <br>
            <a href="#" method="POST" class="btn btn-primary">Edit Student Info</a>
            <br>
            <br>
             <a href="#" id="deleteCourse" class="btn btn-primary">Delete Student From Database</a>
             <br>
             <br>

            </div>
            
        <% end %>
       
        </div>
        </div>