<h1>Our Staff</h1>

<br>
<p> Add New Teacher </p>
<img src="plus.png" width="5%" alt="Add A Course">

<div class="card-group">
      <div class="card-columns">
         
      <div class="card-block">
          <% $teachers.each do |teacher| %>
            <div class="card">
           <strong class="card-text"><%= teacher.name %>
            <br>
           <img src="<%= teacher.image %>" width="100%" alt="teacher Image">
           <br>
           <h3 class="card-text">Age: <%= teacher.age %></h3>
           
            <h3 class="card-text">Email: <%= teacher.email %></h3>
            
            <h3 class="card-text">Salary: <%= teacher.salary %></h3>
            
            <h3 class="card-text">Highest Completed Education: " <%= teacher.education %> "</h3>
            
            <h3 class="card-text">About Me: "<%= teacher.description %>"</h3>
            </strong>
            <br>
            
            <a href="#" method="POST" class="btn btn-primary">Edit Teacher Info</a>
            <br>
            <br>
             <a href="#" id="deleteCourse" class="btn btn-primary">Delete Teacher From Database</a>
             <br>
             <br>
            </div>
            
        <% end %>
      
        </div>
        </div>