<h1>Our Staff</h1>

<br>
<p> Add New Teacher </p>
<img src="plus.png" width="5%" alt="Add A Course">







<%= form_for Teacher.new do |f| %>
                
    <%= f.text_field :name, :required => true, :placeholder => 'Teacher Name' %>
    <%= f.text_field :age, :required => true, :placeholder => 'Teacher Age' %>
    <%= f.text_area :image, :cols => "50", :rows => "1" ,  :required => true, :placeholder => 'Choose an Image URL' %>
    <%= f.text_field :education, :required => true, :placeholder => 'Education' %>
    <%= f.text_field :email, :required => true, :placeholder => 'Teacher Email'%>
    <%= f.text_field :salary, :required => true, :placeholder => 'Salary' %>
    <%= f.text_area :description, :cols => "30", :rows => "3" , :required => true, :placeholder => 'Teacher Description'%>
    <%= f.button :submit%>
  <% end %>
  





<div class="card-group">
      <div class="card-columns">
         
      <div class="card-block">
          <% $teachers.each do |teacher| %>
            <div class="card">
           <strong class="card-text"><%= teacher.name %>
            <br>
           <img src="<%= teacher.image %>" width="100%" alt="teacher Image">
           <br>
           <h3 class="card-text">Age: <%= teacher.age %></h3>
           
            <h3 class="card-text">Email: <%= teacher.email %></h3>
            
            <h3 class="card-text">Salary: <%= teacher.salary %></h3>
            
            <h3 class="card-text">Highest Completed Education: " <%= teacher.education %> "</h3>
            
            <h3 class="card-text">About Me: "<%= teacher.description %>"</h3>
            </strong>
            <br>
            
            <a href="#" method="POST" class="btn btn-primary">Edit Teacher Info</a>
            <br>
            <br>
             <a href="#" id="deleteCourse" class="btn btn-primary">Delete Teacher From Database</a>
             <br>
             <br>
            </div>
            
        <% end %>
      
        </div>
        </div>