<h1>Our Courses</h1>


<div class="album text-muted">
   <div class="container">
      <div class="row">
          <div class="card wider">
          <%= $courses.each do |course| %>
           <strong class="card-text"><%= course.name %>
            <br>
            <%= course.session %>
            <br>
           <img src="<%= course.image %>" width="100%" alt="Course Image">
            <br>
            <h3 class="card-text">Taught By <%= course.teacher %></h3>
            <br>
            <h4 class="card-text"><%= course.description %></h4>
            </strong>
            
            <a href="#" method="POST" class="btn btn-primary">Edit Course</a>
            <br>
             <a href="#" id="deleteCourse" class="btn btn-primary">Delete Course</a>
             <br>
             <br>
         <% end %>
         </div>
      <div class="row">
        <div class="col-md-12">
       
        </div>
      </div>
   </div>
</div>

